<dom-module id="form-content">
<style>
:root{
--paper-input-container-color:#4885ed;
}
paper-input
{
width:300%;
margin:auto;
color:blue;
}
paper-button
{
width:50px;
background-color:#e2e2e2;
}
#form1
{
  margin-left: 15px;
/*margin:auto;*/
width:30%;
}
</style>
<template>
<form id="form1">
<paper-input label="Supplier Id" value="{{supid}}" auto-validate pattern="[0-9]*" error-message="Enter your correct ID" required><iron-icon on-click="supsearch" icon="search" suffix></iron-icon></paper-input>
<paper-input label="Supplier Name" value="{{supname}}" auto-validate pattern="[A-Za-z]*"></paper-input>
<paper-input label="e-Mail ID" value="{{supemail}}" auto-validate pattern="[A-Za-z]*[@][a-z]*[.][a-z]"></paper-input>
<paper-input label="Mobile No" value="{{supphone}}"></paper-input>
<paper-input label="Location" value="{{suplocation}}"></paper-input>
<paper-button raised on-click="submitfn" style="margin-left:100px;">Save</paper-button>
</form>
<template is="dom-repeat" items="{{info}}" as="e">
  <supplier-detailform id="{{e.Id}}" name="{{e.Name}}" email="{{e.Email}}" phone="{{e.Phone}}" location="{{e.location}}"></supplier-detailform>
</template>
<iron-ajax
  method="post"
  id="saveinfoajax"
  url="{{saveinfourl}}"
  params="{{saveinfoparam}}"
  handle-as="json"
  content-type="application/json"
  on-response="saveinfoResponse"
  debounce-duration="300">

  <iron-ajax
    method="post"
    id="searchinfoid"
    url="{{searchinfourl}}"
    params="{{searchinfoparam}}"
    handle-as="json"
    content-type="application/json"
    on-response="searchinfoResponse"
    debounce-duration="300">
</template>
<script>
Polymer({
  is:"form-content",
  submitfn:function(){
    this.saveinfourl="http://localhost:4000"+"/savesupplierinfo";
    var data={};
    data.sid=this.supid;
    data.sname=this.supname;
    data.semail=this.supemail;
    data.sphone=this.supphone;
    data.slocation=this.suplocation;
    this.saveinfoparam=data;
    this.$.saveinfoajax.generateRequest();
    //alert(JSON.stringify(this.saveinfoparam));
  },
    saveinfoResponse:function(e){
      alert(e.detail.response.datavalue);
    },
    supsearch:function(){
      this.searchinfourl="http://localhost:4000"+"/searchsupplier";
      var searchid={};
      searchid.srid=this.supid;
      this.searchinfoparam=searchid;
      this.$.searchinfoid.generateRequest();
    },
    searchinfoResponse:function(e){
      var arr=e.detail.response.searchvalue;
      this.info=arr;
      this.supid=arr[0].Id;
      this.supname=arr[0].Name;
      this.supemail=arr[0].Email;
      this.supphone=arr[0].Phone;
      this.suplocation=arr[0].location;
    },
    ready:function(){
    }
});
</script>
</dom-module>
