<link rel="import" href="../bower_components/gold-cc-cvc-input/gold-cc-cvc-input.html">
<link rel="import" href="../bower_components/gold-password-input/gold-password-input.html">

<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">

<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-material/paper-material.html">
<link rel="import" href="../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="../bower_components/paper-styles/typography.html">

<link rel="import" href="../bower_components/polymer-bootstrap/admin-fouts.html">
<link rel="import" href="../bower_components/polymer-bootstrap/Admin-LTE.html">
<link rel="import" href="../bower_components/polymer-bootstrap/bootstrap-min.html">
<link rel="import" href="../bower_components/polymer-bootstrap/blue-card.html">
<link rel="import" href="../bower_components/polymer-bootstrap/all-skinsmin.html">
<link rel="import" href="../bower_components/polymer-bootstrap/blue-innercard.html">
<link rel="import" href="../bower_components/polymer-bootstrap/Adminsrg-min.html">
<link rel="import" href="../bower_components/polymer/polymer.html">

<link rel="import" href="app-page/app-page.html">
<link rel="import" href="formcontent/formcontent.html">
<link rel="import" href="home-page/home-page.html">
<link rel="import" href="item-com/item-com.html">
<link rel="import" href="item-det/item-det.html">
<link rel="import" href="login-card/login-card.html">
<link rel="import" href="papercard-item/papercard-item.html">
<link rel="import" href="page-2/page-2.html">
<link rel="import" href="routing.html">
<link rel="import" href="sendsimple-card/sendsimple-card.html">
<link rel="import" href="supplierdet/supplierdet.html">

<link rel="import" href="../styles/app-theme.html">
<link rel="import" href="../styles/shared-styles.html">

<script src="../bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
<script src="../scripts/app.js"></script>
<script type="text/JavaScript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" ></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<!-- Uncomment next block to enable Service Worker Support (2/2) -->
<!--<link rel="import" href="../bower_components/platinum-sw/platinum-sw-cache.html">
<link rel="import" href="../bower_components/platinum-sw/platinum-sw-register.html"> -->


<!-- build:js scripts/app.js -->
<script src="../scripts/app.js"></script>
<!-- endbuild-->
<!-- Bootstrap 3.3.6 -->
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Morris.js charts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="../../plugins/morris/morris.min.js"></script>
<!-- Sparkline -->
<script src="../../plugins/sparkline/jquery.sparkline.min.js"></script>
<!-- jvectormap -->
<script src="../../plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="../../plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<!-- jQuery Knob Chart -->
<script src="../../plugins/knob/jquery.knob.js"></script>
<!-- daterangepicker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script src="../../plugins/daterangepicker/daterangepicker.js"></script>
<!-- datepicker -->
<script src="../../plugins/datepicker/bootstrap-datepicker.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="../../plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<!-- Slimscroll -->
<script src="../../plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="../../plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/app.min.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="../../dist/js/pages/dashboard.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
